@tailwind base;
@tailwind components;
@tailwind utilities;

/*body*/

.text-grad {
    @apply bg-gradient-to-b
    bg-clip-text 
    text-transparent 
    from-slate-800 to-white
}

/*navbar*/

.nav-box {
@apply text-white 
    text-xl
    px-8 pb-3 pt-6

    hover:bg-slate-200
    hover:bg-opacity-10
    hover:border-b-4

    duration-200
}